    <header class="wiz-header04 wiz-header">
      <div class="container">
        <img src="images/wizlogo5.png" class="img-responsive" alt="Wiz Security"/>
      </div>
    </header>

    <div class="container">
      <div class="info-box">
        <h1>Contact us today</h1>
        <p class="lead">Let's start discussing your security strategy and how WizSec can help you.</p>
      </div>
    </div>

    <div class="container">

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8">
          <h2>Email</h2>
          <p>Send us an email to info@wizsec.com and we will contact you as soon as possible!</p>
          <h2>Meet us</h2>
          <p>WizSec is based in Tokyo, Japan. If you are in Japan it's possible to meet us and we can talk security face to face.</p>		
        </div>
        <div class="col-md-4">
          <p><img src="images/tokyo.jpg" style="width: 250px;" /></p>
          <p>Photo by Kakidai</p>
        </div>
      </div>

      <hr>

    </div>
