    <header class="wiz-header01 wiz-header">
      <div class="container">
		<a href="#/home"><img src="images/wizlogo5.png" class="img-responsive" alt="Wiz Security"/></a>
      </div>
    </header>

    <div class="container">
      <div class="info-box">
        <h1>Keeping bitcoins safe</h1>
        <p class="lead">WizSec is a security specialist firm based in Tokyo. We work for bitcoin companies all around the world to strengthen their security and keeping both customers' and companies' funds safe and secure.</p>
      </div>
    </div>

    <div class="container">

      <hr>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Great team</h2>
          <p>WizSec aims to recruit the most elite security engineers in the world. Our combined experience in both bitcoin technologies and information security helps the world's bitcoin firms keep their infrastructure and customer funds secure.</p>
          <p><a class="btn btn-default" href="#/team" role="button">Meet the team »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Tailored services</h2>
          <p>Do you have a security need but have a hard time finding the right people who know both security and bitcoin? Hire Wizsec to upgrade your security fortifications.</p>
          <p><a class="btn btn-default" href="#/services" role="button">See services »</a></p>
        </div>
        <div class="col-md-4">
          <h2>Contact us today</h2>
          <p>When it comes to security, it's always good to go that extra round and check that all your windows and doors are locked. Shoot us an email or call us about any security concern you may have. No question is too silly.</p>
          <p><a class="btn btn-default" href="#/contact" role="button">Contact »</a></p>
        </div>
      </div>

      <hr>

    </div>
