    <header class="wiz-header05 wiz-header">
      <div class="container">
        <img src="images/wizlogo5.png" class="img-responsive" alt="Wiz Security"/>
      </div>
    </header>

    <div class="container">
      <div class="info-box">
        <h1>Security Consulting Services</h1>
      </div>
    </div>

    <div class="container">

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Security Auditing</h2>
          <p>WizSec's goal is to hire the best security experts in the industry from all over the world. Our team have many years of experience of best security practises both in bitcoin and regular financial services. We offer a full rage of auditing services, from code assessment to penetration testing to help you protect your bitcoin assets in the best possible way. When you get an audit from WizSec we will give you a full disclosure report of all the findings packaged in an encrypted document. We will also help you set up an action plan on proposed changes after the audit.
          </p>
          <p>
          Performing security audits on a regular basis will not only make you sleep better at night, but it also makes your customers feel safe. That way you business can attract more customers since security is a big concern when choosing a bitcoin service. The bumpy history of bitcoin makes customers very weary of security and will often think twice before depositing funds.
          </p>
        </div>
        <div class="col-md-6">
          <h2>Bitcoin Asset Auditing</h2>
          <p>Are you running an exchange and need an asset audit to prove that the funds are actually there? At WizSec we are experts at bitcoin blockchain analysis and have developed advanced tools in house for wallet analyzes and asset tracking. We can provide a detailed report of your digital assets and verify database ledger integrity.
          </p>
          <p>Doing asset audits on a regular basis is paramount for customers to trust an exchange with their bitcoin. After an sucessful audit, WizSec will deliver a detailed report that can be made public if you wish. It's a great way to establish a good trusting relationship with your customers.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>Instant Response</h2>
          <p>Has your service been compromised? Or do you need to quickly get control over a serious security threat? We can help you stop ongoing attacks and other threats. We have years of experience of instant response to help companies minimize their downtime and keep their serices online. Our instant response team can assist with all critical operational issues such as migrate servers and servics, mitigate ongoing DDOS attacks and general damage control.<br /> <br /> <br />
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="info-box">
        <h1>Development Services</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Bitcoin Application Development</h2>
          <p>If your company is looking at implementing bitcoin payments or use the bitcoin technology, WizSec can assist you with designing and developing the application you need. Our experienced engineers can tailor services and applications for your company. We will help you with anything from server and network architecture, to end user smartphone apps. We have years of experience with data networks, Linux servers, application backends, web frontends and smartphone applications. Please contact us and we can explain more about how WizSec can help your company get into the bitcoin space.
          </p>
        </div>
        <div class="col-md-6">
          <h2>Hands On Bitcoin Security</h2>
          <p>Have you done an internal or external security audit that rendered a big to-do list, but you neither have the manpower or the knowledge to fix it? WizSec can assist your company with hands on security by assisting your engineers upgrading up your security level. We will help you patch your code and servers, to make sure you get the best possible defence against malicious users exploiting your service. We can assist with everything from the network layer, to the user frontend. Contact us with an inquiry!
          </p>
        </div>
      </div>

      <div class="row"><br/><br/></div>
    </div>
