    <header class="wiz-header wiz-header03">
      <div class="container">
        <a href="#/"><img src="images/wizlogo5.png" class="img-responsive" alt="Wiz Security"/></a>
      </div>
    </header>

    <div class="container">
      <div class="info-box">
        <h1>The WizSec Bitcoin Security Specialists Team</h1>
        <p class="lead">Unity is strength. When there is teamwork and collaboration, wonderful things can be achieved.</p>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container ourteam">
        <div class="row">

          <div class="col-md-1"></div>

          <div class="col-md-2">
            <img src="images/mug03.jpg" class="img-responsive img-circle" alt="J. Maurice - Wiz Security"/>
            <h4>J. Maurice</h4>
            <h5>Network Security</h5>
          </div>

          <div class="col-md-2">
            <img src="images/mug01.jpg" class="img-responsive img-circle" alt="Daniel Kelman - Wiz Security"/>
            <h4>Daniel Kelman</h4>
            <h5>Legal Compliance</h5>
          </div>

          <div class="col-md-2">
            <img src="images/mug02.jpg" class="img-responsive img-circle" alt="Kim Nilsson - Wiz Security"/>
            <h4>Kim Nilsson</h4>
            <h5>Blockchain Analysis</h5>
          </div>

          <div class="col-md-2">
            <img src="images/mug04.jpg" class="img-responsive img-circle" alt="Emil Oldenburg - Wiz Security"/>
            <h4>Emil Oldenburg</h4>
            <h5>Exchange Operation</h5>
          </div>

          <div class="col-md-2">
            <img src="images/mug05.jpg" class="img-responsive img-circle" alt="Ryu Suzuki - Wiz Security"/>
            <h4>Ryu Suzuki</h4>
            <h5>Datacenter Technician</h5>
          </div>

          <div class="col-md-1"></div>

        </div>
      </div>
    </div>
